<h1>lessons#new</h1>
<%= form_with model: @lesson, url: schedule_lessons_path(@schedule) do |f| %>
  <div>
    <%= f.select :selected_subject_id, @subjects.map { |a| [a.name, a.id] }, include_blank: "選択してください" %>
  </div>
  <%= f.hidden_field :day_of_week, value: 1 %>
  <%= f.hidden_field :period, value: 1 %>
  <%= f.submit "確定" %>
<% end %>