schedules#show
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <%= @schedule.name %>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Period</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
              </tr>
            </thead>

            <tbody>
              <% rows = ["1st", "2nd", "3rd", "4th", "5th", "6th"] %>
              <% period = 0 %>
              <% rows.each do |row| %>
                <% period +=  1 %>
                <tr>
                  <td><%= row %></td>
                  <% (1..6).each do |day_of_week| %>
                    <td>
                      <% lessons = @schedule.lessons.includes(:subject).where(day_of_week: day_of_week, period: period) %>
                      <% lessons.each do |lesson| %>
                        <div style="color: <%= lesson.subject.color %>;"><%= lesson.subject.name %></div>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>

          </table>
          <%= link_to "編集", edit_schedule_path(@schedule) %>
        </div>
      </div>
    </div>
  </div>
</div>