<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body p-3">
          <strong class="mb-3 card-title d-flex justify-content-center">
            <%= @schedule.name %>
          </strong>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Period</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
              </tr>
            </thead>

            <tbody>
              <% rows = ["1st", "2nd", "3rd", "4th", "5th", "6th"] %>
              <% period = 0 %>
              <% rows.each do |row| %>
                <% period +=  1 %>
                <tr>
                  <td><%= row %></td>
                  <% (1..6).each do |day_of_week| %>
                    <td>
                      <% lessons = @schedule.lessons.includes(:subject).where(day_of_week: day_of_week, period: period) %>
                      <% lessons.each do |lesson| %>
                        <div style="color: <%= lesson.subject.color %>;">
                          <%= link_to edit_schedule_lesson_path(lesson.schedule_id, lesson), style: "color: inherit;" do %>
                            <%= lesson.subject.name %>
                          <% end %>
                        </div>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <%= link_to "編集", edit_schedule_path(@schedule), class: "col-6 btn btn-success form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>