<!DOCTYPE html>
<html>
  <head>
    <title>Timetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/97d6fa8903.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col" style="flex-grow: 1; height: 100%;">
      <% flash.each do |key, message| %>
        <div class="mb-0 alert alert-<%= key == 'notice' ? 'success' : 'danger' %> text-center">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
